~ form_for(@user, as: 'user', url: registration_path('user'), html: {class: "basic publish validate"}) do |f|
  %p Please Enter your infomation
  %ul
    %li.half.left
      %label{for: 'name'}
        Your name:
        %span.required *
      = f.text_field :name, class: 'required'
    %li.half.right
      %label{for: 'password'}
        Password:
        %span.required *
      = f.password_field :password, class: 'required'
    %li.half.left
      %label{for: 'email'}
        Email:
        %span.required *
      = f.text_field :email, class: 'required'
    %li.half.right
      %label{for: 'password_confirmation'}
        Comfirm Password:
        %span.required *
      = f.password_field :password_confirmation, class: 'required'
    %li
      = f.submit 'Submit'
