.sub_nav
  Showing attorneys in
  %span
    %strong= @city ? @city : (@company ? @company.city : 'Any City')
    %span.wrapper
      %span
      %ul
        %li= link_to 'Any City', search_path(category: @category, budget: @budget)
        - StateCity.popular_cities.each do |city|  
          %li= link_to city, search_path(city: city, category: @category, budget: @budget)
        %li= link_to "<strong>See all locations</strong>".html_safe, cities_path
  listed under
  %span
    %strong= @category ? @category : (@company ? @company.primary_category : 'Any Category')
    %span.wrapper
      %span
      %ul
        %li= link_to 'Any Category', search_path(city: @city, budget: @budget)
        - Common.categories.each do |category|
          %li= link_to category, search_path(city: @city, category: category, budget: @budget)
        %li= link_to "<strong>See all categories</strong>".html_safe, '#'
  for
  %span
    %strong= @budget ? @budget : (@company ? @company.budget : 'Any Budget')
    %span.wrapper
      %span
      %ul
        %li= link_to 'Any Budget', search_path(city: @city, category: @category)
        - Common.budgets.each do |budget|
          %li= link_to budget, search_path(city: @city, category: @category, budget: budget)
