.sub_nav
  Showing attorneys in
  %span
    %strong= @company ? @company.city : 'Any City'
    %span.wrapper
      %span
      %ul
        %li= link_to 'Any City', '#'
        %li= link_to 'Chicago', '#'
        %li= link_to 'New York', '#'
        %li= link_to 'Los Angeles', '#'
        %li= link_to 'Philadelphia', '#'
        %li= link_to 'San Antonio', '#'
        %li= link_to 'Charlotte', '#'
        %li= link_to 'Phoenix', '#'
        %li= link_to 'San Fanscisco', '#'
        %li= link_to "<strong>See all locations</strong>".html_safe, '#'
  listed under
  %span
    %strong= @company ? @company.primary_category : 'Any Category'
    %span.wrapper
      %span
      %ul
        %li= link_to 'Any Category', '#'
        %li= link_to 'Personal Injury', '#'
        %li= link_to 'Car Accident', '#'
        %li= link_to 'Divorce', '#'
        %li= link_to 'Real Estate', '#'
        %li= link_to 'Immigration', '#'
        %li= link_to 'Adoption', '#'
        %li= link_to 'Wills', '#'
        %li= link_to 'Power of Attorney', '#'
        %li= link_to 'Collections', '#'
        %li= link_to 'Contracts', '#'
        %li= link_to 'Criminal Defense', '#'
        %li= link_to 'Sexual Harassment', '#'
        %li= link_to "Workers' Compensation", '#'
        %li= link_to "<strong>See all locations</strong>".html_safe, '#'
  for
  %span
    %strong= @company ? @company.budget : 'Any Budget'
    %span.wrapper
      %span
      %ul
        %li= link_to 'Any Budget', '#'
        %li= link_to '$3,000 and under', '#'
        %li= link_to '$3,000 - $10,000', '#'
        %li= link_to '$10,000 - $25,000', '#'
        %li= link_to '$25,000 - $50,000', '#'
        %li= link_to '$50,000 and over', '#'
