#footer
  .inner
    %ul
      %li= link_to "About", ""
      %li= link_to "Cities", ""
      %li= link_to "Contact", ""
      %li= link_to "FAQ", ""
      %li= link_to "Sign Up", ""
      %li= link_to "Login", ""
      %li= link_to "Terms", ""
    %p
      Copyright &copy; 2011 Siftlaw
      %span
        Inspired by <a href="">Sortfolio</a>, created by <a href="http://doejo.com" class="doejo">doejo</a>
