#main
  %ul.featured
    - @pro_listings.each do |company|
      %li
        %ul.links
          %li= link_to 'Favorites This', favorite_company_path(company), class: 'favorite', title: 'Favorite This'
          %li= link_to 'Contact Firm', '#', class: 'contact', title: 'Contact Firm'
          %li= link_to "Firm's Website", '#', class: 'website', title: "Firm's Website"
        = link_to "<span class='wrapper'><img src='#{company.image(:medium)}' alt='pic'><h3>#{company.name}</h3><address>#{company.address}, #{company.city} #{company.state}</address><span>#{company.budget}</span><hr><span>#{company.primary_category}</span></span>".html_safe, company_path(company)
    %li.prompt
      %div
        %span
      %span.logo   
      %h2 Join our Community and showcase your business right here!
      %ul
        %li
          %strong Be seen
          You get a large listing that appears above free listings
        %li
          %strong Multiple photos
          Get visual by adding up to 12 high resolution photos
        %li
          %strong Custom web address
          Choose your link name: galaist.com/my-company better for sharing.
        %li
          %strong No obligation
          No contracts, you can bump down to free at any time!
  - (@free_listings.size/4).times do |i|
    - padding = i == 0 ? '10px' : '0'
    %ul.full_list{style: "margin-top: 0; padding-top: #{padding};"}
      - 4.times do |j|
        - company = @free_listings[j + i*4]
        %li
          = link_to "<h4><span class='icon star'></span>#{company.name}</h4><img src='#{company.image}' alt='pic'><div><strong>#{company.city}</strong><span>#{company.budget}</span><span>#{company.primary_category}</span></div>".html_safe, company_path(company)
