#main
  - if(@pro_listings.size + @free_listings.size) > 0
    %ul.featured
      - @pro_listings.each do |company|
        %li
          = render partial: 'pro_listing', locals: {company: company}     
    - loop = @free_listings.size/4
    - loop += 1 if(@free_listings.size%4 > 0)
    - (loop).times do |i|
      - padding = i == 0 ? '10px' : '0'
      %ul.full_list{style: "margin-top: 0; padding-top: #{padding};"}
        - 4.times do |j|
          - if (j + i*4) < @free_listings.size
            - company = @free_listings[j + i*4]
            %li
              = link_to "<h4><span class='icon star'></span>#{company.name}</h4><img src='#{company.image}' alt='pic'><div><strong>#{company.city}</strong><span>#{company.budget}</span><span>#{company.primary_category}</span></div>".html_safe, company_path(company)
  - else
    .no_results
      %strong Sorry! No listings found.
      %p We didn't find anything for your request.
      %span.icon.scales

= render partial: 'shared/contact', locals: {to_email: ''}
:javascript
  $(document).ready(function(){
    $("a.contact").click(function(){
      value = $(this).attr('id');
      $('#contact_form input[name=to_email]').val(value);
      $("#open_fancybox").click();    
    }); 
  });
