#main.profile
  .content
    .inner
      .page_header
        %h2
          %span.icon.camera
          Portfolio Images
      %ul.portfolio_images
        - @company.portfolios.each do |portfolio|
          %li.bordered{class: "#{'active' if @company.image == portfolio.image.url}"}
            = image_tag portfolio.image(:small), alt: 'pic'
            = link_to 'delete', portfolio_path(portfolio), method: :delete,confirm: 'Are you sure to delete this portfolio?'
        - x = 12 - @company.portfolios.size
        - x.times do |i|
          %li.bordered
            - if @company.is_pro? || x==12 && i==0
              %p
                %button{class: "dblue_btn upload_portfolio"} Upload
            - else
              %p PRO members only

  = render partial: 'profile_side', locals: {active: 'portfolio'}
.hidden
  ~ form_for Portfolio.new, html: {mutipart: true} do |f|
    = f.hidden_field :company_id, value: @company.id
    = f.file_field :image

:javascript
  $(document).ready(function(){
    $(".upload_portfolio").click(function(e){
      e.preventDefault();
      $("input[type=file]").click();
    });
    
    $("input[type=file]").change(function(){
      $("form#new_portfolio").submit();
    });
    
  });
