#main
  .page_header
    %h2= @company.name
    %ul
      %li= link_to "<span class='icon contact'></span>Contact".html_safe, "#contact_form", class: "fancybox"
      %li= link_to "<span class='icon print'></span>Print".html_safe, "#"
      - if current_user && current_user.favorited?(@company)
        %li= link_to "<span class='icon favorite'></span>Already favourited".html_safe, favorites_path
      - else
        %li= link_to "<span class='icon favorite'></span>Favourite".html_safe, favorite_company_path(@company), class: 'favorite', title: 'Favorite This'
        
  .content
    = image_tag @company.image(:large), alt: '', class: 'main bordered'
    %p= simple_format @company.about
    - if current_user && @company == current_user.company
      = link_to "Back to my settings", profile_company_path, class: "dblue_btn back"
  .side
    .featured
      .featured_item
        %ul.links
          %li= link_to 'Favorite This', favorite_company_path(@company), title: 'Favorite This', class: 'favorite'
          %li= link_to 'Contact Firm', '#contact_form', title: 'Contact Firm', class: 'contact fancybox'
          %li= link_to "Firm's Website", '#', title: "Firm's Website", class: 'website'
        .inner
          %h3= @company.name
          %hr
          %h4 Category:
          = link_to @company.primary_category, search_path(category: @company.primary_category)
          %hr
          %h4 Budget:
          = link_to @company.budget, search_path(budget: @company.budget)
          %hr
          %h4 Location:
          = link_to @company.city, search_path(city: @company.city)
          %br
          %h4 Address:
          %address= @company.address
          %hr
          %h4 Website:
          = link_to @company.website, @company.website, target: '_blank'
          %br
          %h4 Email:
          = @company.user.email
    .bordered#mymap{style: "width: 290px;height: 262px;"}

= render partial: 'shared/contact', locals: {to_email: @company.user.email}
:javascript
  $(document).ready(function(){
    $('#mymap').gmap3(
       { action: 'addMarker',
          address: "#{@company.address}, #{@company.city}",
          map:{
            center: true,
            zoom: 16
          }
        }
    );
  });
